html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background: #1c1d24;
}

body:after {
  position: absolute;
  left: 50%;
  bottom: 1em;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  content: "Press any arrow key to start";
  color: white;
  opacity: 0.4;
}

canvas {
  border: 5px solid #272e38;
}
